body {
    font-family: 'Segoe UI Emoji';
    font-size: 13px;
}
@media (min-width: 1700px) {
    .todays {
        right: -14px !important;
    }
    .right {
        left: 95% !important;
    }

    .s-info {
        margin-top: 60px !important;
    }
    .navbar-custom li {
        font-size: 22px !important;
    }
    .navbar-custom .navbar-nav>li {
        width: 16.2% !important;
    }
    .navbar-custom .navbar-nav>li>a {
        padding-top: 9px !important;
        padding-bottom: 23px !important;
    }
    .navbar-custom .nav>li>a:hover:first-child:before, .navbar-custom .nav>li>a.active:first-child:before{
        top: 48px !important;
    }
    .container-left>div>a{
        font-size: 21px !important;
    }
    .basket{
        font-size: 19.2px !important;
    }

}
@media (min-width: 1800px) {
    .basket img {
        width: 40px !important;
    }
    .regular a{
        font-size: 18.59px !important;
    }
    .products-category a  img, .regular.slider  a  img{
        height: 120px !important;
    }
    .products-category a{
        font-size: 23px !important;
    }
    .slidesjs-container{
        height: 290px !important;
    }
    #slides {
        padding: 50px 40px 0 20px !important;
    }
    .see-more {
        padding: 10px 58px !important;
    }
    .s-info {
        margin-top: 50px !important;
    }
    .s-info h5 {
        font-size: 36.66px !important;
    }
    .s-info p {
        font-size: 16.79px !important;
    }
    .navbar-custom .nav>li>a:hover:first-child:before, .navbar-custom .nav>li>a.active:first-child:before {
        height: 9px !important;
        top: 47px !important;
    }
    .right {
        left: 96% !important;
        padding: 10px !important;
    }
    .form-control-search {
        font-size: 19.2px;
    }
    .login input[type="text"], .login input[type="password"] {
        font-size: 16.14px;
    }
    .custom-login{
        font-size: 12.51px !important;
    }
    .evaluate p i {
        font-size: 25.21px !important;
    }
    .porposals p i {
        font-size: 20.98px !important;
    }
    .porposals p{
        font-size: 26.22px !important;
    }
    .porposals p span {
        font-size: 26.22px !important;
    }
    .star-rating{
        margin-bottom: 20px !important;
    }
    .cards img {
        width: 220px;
    }
    .cards {
        margin-bottom: 80px !important;
    }
    .footer-menu {
        height: 290px !important;
        padding-top: 25px !important;
    }
    .footer-menu li a {
        font-size: 20.98px !important;
    }
    .footer-menu li{
        margin-bottom: 26px !important;
        line-height: 15px !important;
    }
    .footer-menu li::before {
        font-size: 33px !important;
    }
    .design {
        font-size: 20.36px !important;
    }
}

@media (max-width: 1500px) {
    .right{
        left: 96% !important;
        padding: 7px !important;
    }
}

@media (max-width: 1024px) {
    .navbar-custom li {
        font-size: 12px !important;
    }
    .right{
        left: 95% !important;
        padding: 6px !important;
    }
    .weather span, .pc span {
        font-size: 15px !important;
    }
    .working-hours{
        font-size: 13px !important;
    }
    .weather img {
        width: 30px !important;
    }
    .phone img {
        width: 20px !important;
    }
    .btn.custom {
        width: 57px !important;
    }
    .login h4 {
        font-size: 12px !important;
    }
    .login a.forgot {
        font-size: 11px !important;
    }
    .btn.custom-login {
        width: 50px !important;
        font-size: 9px !important;
    }
    .v-player a img {
        margin-top: 7.3% !important;
    }
    .basket{
        font-size: 13.2px !important;
    }
    .basket img {
        width: 25px !important;
    }
    .s-info {
        margin-top: 30px !important;
    }
    .s-info h5 {
        font-size: 17px !important;
    }
    .s-info p {
        font-size: 11px !important;
        max-height: 77px !important;
    }
    .products-category a {
        font-size: 12px !important;
    }
    .products-category a img, .regular.slider a img {
        height: 75px !important;
    }
    .slick-prev, .slick-next {
        top: 39% !important;
    }
    .evaluate p i {
        font-size: 16px !important;
    }
}
@media (min-width: 768px) {
    .navbar-custom .navbar-nav>li {
        width: 16.3%;
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
    .phone {
        text-align: right;
    }
    .currency {
        padding: 0;
        text-align: left;
        margin-top: 15px;
    }
    .flags{
        margin-top: 15px;
    }
    .v-player a img {
        margin-top: 3% !important;
    }
    .media{
        padding: 0;
    }
    .menu-login>div,.navbar-container-custom,.navbar-container-custom>div, .navbar-custom {
        padding: 0;
    }
    .navbar-container{
        margin-top: 0px !important;
    }
    .navbar-custom li {
        font-size: 12px !important;
        padding: 0 11px !important;
    }
    .slider {
        padding: 0;
    }
    .delivery p{
        font-size: 11px !important;
        margin-bottom: 2px;
    }
    #slides .s-img {
        margin-top: 5px !important;
    }
    .slidesjs-container {
        height: 121px !important;
    }
    .s-info a {
        padding: 4px 15px;
    }
    .s-info>p {
        height: 42px;
        overflow: hidden;
        font-size: 10px;
    }
    .s-info h5 {
        font-size: 17px !important;
        margin: 12px 0 0px 0;
    }
    .s-info {
        margin-top: 14px !important;
        font-size: 12px !important;
    }
    .todays {
        right: -6px !important;
        top: 7px !important;
    }
    .products-category a img, .regular.slider a img {
        height: 60px !important;
        padding: 2px !important;
    }
    .products-category p {
        font-size: 10px !important;
        margin-bottom: 2px;
    }
    .right {
        padding: 6px !important;
    }
    .regular {
        font-size: 9px !important;
    }
    .slick-prev, .slick-next{
        top: 35% !important;
    }
    .evaluate p i {
        font-size: 12px !important;
    }
    .porposals p span {
        font-size: 14px !important;
    }
    .cards img {
        width: 90% !important;
    }
    .footer-menu li a {
        font-size: 13px !important;
    }
    .footer-menu {
        padding-bottom: 15px !important;
        padding-top: 6px !important;
        margin-bottom: 10px !important;
    }
    .design i{
        font-size: 12px;
    }
    .navbar-container-custom, .slider-container, .evaluate, .porposals, .footer-container, .products {
        margin-bottom: 10px !important;
    }
    .support {
        font-size: 15px !important;
        width: 170px !important;
        height: 30px !important;
        padding: 5px 20px !important;
    }
    .social {
        height: 30px !important;
        width: 140px !important;
        left: -55px !important;
    }
    .social-c {
        width: 142px !important;
    }
    .social a img {
        width: 26px !important;
        float: none !important;
        padding: 4px 1px !important;
    }
}
@media (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-toggle{
        background: #0FB2F5;
        border-color: #0F85F5;
        margin-right: 0 !important;
    }
    .navbar-custom .nav>li>a:hover:first-child:before, .navbar-custom .nav>li>a.active:first-child:before {
        top: 39px !important;
    }
    .navbar-nav a{
        text-align: center;
    }
    .navbar-container {
        margin-top: 0px !important;
        padding: 0;
    }
    .navbar-container>div{
        padding: 0;
    }
    body {
        font-size: 10px !important;
    }
    .container{
        padding: 0 10px !important;
    }
    .regular, .arrow.right{
        display: none !important;
    }
    .products-category {
        margin: 0 auto;
        float: none;
    }
    .weather, .phone{
        text-align: center;
    }
    .pc {
        width: 46%;
        margin: 0 auto !important;
        float: none !important;
    }
    .working-hours {
        font-size: 11px !important;
    }
    .phone {
        margin: 15px 0;
    }
    .currency{
        text-align: left;
        padding-left: 0;
    }
    .media{
        padding-right: 0;
    }
    .media>div, .login {
        margin: 5px 0 !important;
    }
    .page-header{
        margin-bottom: 10px;
    }
    .v-player a img {
        margin-top: 2% !important;
    }
    .menu-login>div{
        padding-right: 0;
    }
    .delivery>div{
        float: none;
        margin: 0 auto;
        font-size: 17px;
    }
    .slides {
        padding-top: 0;
    }
    #slides .s-img {
        margin-top: 5px !important;
    }
    .slidesjs-slide>div{
        padding: 0;
    }
    .todays{
        right: -2px !important;
        top: 5px !important;
    }
    .s-info h5{
        text-align: center !important;
    }
    .s-info{
        margin-top: 10px !important;
    }
    .see-more {
        padding: 5px 18px !important;
    }
    .slider{
        padding-left: 0;
    }
    #slides{
        height: 440px !important;
    }
    .slidesjs-control, .slidesjs-container{
        height: 360px !important;
    }
    .slider-container {
        padding-bottom: 20px;
    }
    .products>div{
        float: none;
        margin: 0 auto;
    }
    .products, .evaluate{
        padding-bottom: 15px !important;
    }
    .l-f-menu {
        padding: 0;
        margin-bottom: 15px;
    }
    .porposals p{
        font-size: 14px;
    }
    .footer-container{
        margin-bottom: 0 !important;
    }
    .design p{
        text-align: center;
        margin: 3px;
        font-size: 13px;
    }
    .footer-menu a{
        font-size: 12px !important;
    }
    .fm {
        clear: both;
        margin-bottom: 10px;
    }
    .social {
        width: 140px !important;
        left: -55px !important;
        height: 30px !important;
    }
    .social a img {
        width: 35px !important;
        padding: 4px 6px !important;
    }
    .support {
        width: 170px !important;
        height: 26px !important;
        padding: 4px 20px !important;
        right: -72px !important;
        top: 200%;
        font-size: 14px !important;
    }
    .support p{
        margin: 0 !important;
    }
}

@media (max-width: 740px) and (min-width: 414px) {
    .products-category {
        width: 40%;
        margin: 0 5%;
        float: left;
    }

    .slider-container .container-left p {
        font-size: 14px;
    }
    .slider-container .container-left a {
        float: left;
        height: 81px;
        margin: 0 1%;
        width: 31%;
    }
    .slider-container .container-left a img {
        width: auto;
        height: 53px !important;
    }
}
@media (max-width: 568px) {
    .pc {
        width: 28%;
        margin: 0 auto;
        float: none !important;
    }
    .todays {
        right: -5px !important;
    }

}
@media (max-width: 415px) {
    #slides{
        height: 290px !important;
    }
    .slidesjs-control, .slidesjs-container{
        height: 224px !important;
    }
    .pc {
        width: 58% !important;
        margin: 0 auto !important;
        float: none !important;
    }
    .support {
        top: 100% !important;
    }
    .container{
        padding: 0 10px !important;
    }
}
@media (max-width: 320px) {
    .pc {
        width: 64% !important;
    }
    .container{
        padding: 0 10px !important;
    }
}
.container{
    float: none;
    margin: 0 auto;
}
.currency{
    padding-left: 0;
}
.page-header {
    clear: both;
}
.pc {
    float: left;
    margin-right: 3px;
}
.dropdown-menu.custom, .btn.custom {
    width: 117px;
    background-color: white;
    border: 1px solid #696a6a;
    color: #4CCCFB;
}
.weather span{
    line-height: 24px;
    font-size: 19.2px;
}
.weather {
    color: #A4A4A4;
}
.weather img {
    width: 40px;
    display: block;
    float: left;
}
.text-info {
    color: #4788B2;
}
.phone img{
    display: block;
    float: left;
    width: 30px;
}
.phone span {
    line-height: 24px;
    font-size: 13.54px;
}
.pc span {
    font-size: 19.2px;
}
.working-hours {
    color: #DC6060;
    font-size: 10px;
    font-style: italic;
}
.dropdown-menu.custom a {
    color: #4CCCFB;
    text-align: center;
}
.search-form input {
    background-color: #E0E2E8;
}
.padding-r0 {
    padding-right: 0;
}
.padding-l0 {
    padding-left: 0;
}
.m-player {
    background-color: #E1E4EA;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 79px;
}
.media>div, .media div img, #playerContainer {
    height: 105px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.search {
    float: right;
    margin-top: -33px;
    margin-right: 20px;
}
.btn.custom-login {
    float: right;
    margin-top: -30px;
    background-color: #1084DA;
    color: white;
    font-size: 10px;
    width: 80px;
    height: 30px;
}
.padding-lr0{
    padding-left: 0;
    padding-right: 0;
}

.login h4 {
    margin-top: 0;
    color: #1084DA;
    float: left;
    font-size: 18.62px;
    margin-bottom: 16px !important;
}
.form-control-custom {
    height: 30px !important;
    font-size: 12px;
    border: 1px solid #1084DA;
    padding: 8px 80px 8px 10px;
}
.form-control-search{
    height: 40px;
    padding: 15px 80px 15px 30px;
    border: 1px solid #1084DA;
}
.login a.forgot {
    float: right;
    color: #B6B6B6;
    font-size: 12.64px;
}
.banner {
    /*margin-left: 3px;*/
}
.banner img , .player img{
    width: 100%;
}

#vid{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.media>div {
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.banner{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.v-player {
    /*position: absolute;*/
    /*right: 15px;*/
    /*bottom: 0;*/
    height: 100%;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.menu-login{
    margin-top: 5px;
}
.basket:hover{
    text-decoration: none;
}
.basket {
    background-color: #1084DB;
    background: -webkit-linear-gradient(left top, #1083DA, #0FC3FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #1083DA, #0FC3FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #1083DA, #0FC3FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1083DA, #0FC3FF); /* Standard syntax */

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 14.2px;
}
.basket span{
    padding: 29px 0;
    display: block;
    color: white;
}
.basket img {
    width: 30px;
}
.form-group{
    margin-bottom: 10px !important;
}
/*.navbar-custom .navbar-nanavbar-custom*/
.navbar-custom > ul {
    width: 100% !important;
    float: right;
}
.navbar-custom .navbar-nav>li>a {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-custom li{
    text-align: center;
    font-weight: bold;
    color: #1084DB;
    font-size: 16px;
}
.navbar-custom .nav>li>a:hover:first-child:before, .navbar-custom .nav>li>a.active:first-child:before {
    content:'';
    position:absolute;
    width:100%;
    height:4px;
    background:linear-gradient(to right, #1083DA, #0FC3FF);
    top:48px;
    left:0;
}
.navbar-custom li a:hover, .navbar-custom a.active, .navbar-custom a:focus{
    color: #C72929;
    background-color: transparent;
}
.navbar-container{
    margin-top: -30px;
    font-size: 13px;
}
.page-header{
    border-bottom: 1px solid #525252 !important;
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-container-custom, .slider-container, .evaluate, .porposals, .footer-container, .products{
    border-bottom: 1px solid #525252 !important;
    margin-bottom: 15px;
}
.slider-container .container-left a{
    border: 1px solid #1084DA;
    display: block;
    margin-bottom: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slider {
    padding-left: 40px;
    margin-bottom: 20px;
}
.slidesjs-container{
    height: 220px;
}
.products-category a{
    border: 1px solid #1083DA;
    display: block;
    margin-bottom: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.regular a{
    font-size: 14px;
    display: block;
    color: #797979;
}
.product-name a {
    display: block;
    margin-bottom: 10px;
}
.products-category a  img, .regular.slider  a  img{
    max-width: 90%;
    width: initial;
    height: 80px;
    padding: 4%;
}
.products-category a{
    font-size: 16px;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.slick-slider {
    /*margin-top: 1%;*/
}
.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}
.fa.fa-star, .fa-star-half-empty, .fa-star-o {
    font-size: 32px !important;
    color: #D8AD00 !important;
}
.porposals i, .evaluate i{
    color: #747474;
}
.evaluate p i {
    font-size: 17px;
}
.porposals p span {
    color: #1084DA;
    font-size: 17px;
}
.star-rating{
    margin-bottom: 20px;
}
.cards img {
    width: 60%;
}
.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.footer-menu li a {
    color: #747474;
    font-size: 16px;
}
.footer-menu li {
    line-height: 29px;
    padding-left: 1em;
    text-indent: -.7em;
    font-size: 16px;
    top: 0;
}

.footer-menu li::before {
    font-size: 25px;
    content: "• ";
    color: #1084DA;
    bottom: -5px;
    position: relative;
}
.footer-menu {
    background-color: #E5E5E5;
    padding-top: 12px;
    margin-bottom: 15px;
    height: 250px;
}
.design {
    color: #747474;
}


audio {
    width: 85%;
    top: 36%;
    position: absolute;
}
.v-player a{
    left: 0;
    content: "";
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.v-player a img{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 4.3%;
    z-index: 3;
    height: 80%;
    cursor: pointer;
}
.container-left img {
    width: 62%;
}
.container-left .expo img {
    width: 100% !important;
}
.expo a{
    padding: 0 !important;
    margin-bottom: 10px !important;
}
.container-left>div>a{
    padding: 5px 0;
    font-size: 16px;
    color: #666565;
}
.container-left>div>a p {
    margin-bottom: 0;
}
.right {
    border: solid #1083DA;
    border-width: 0px 1px 1px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left: 95%;
    top: 39%;
    z-index: 1000;
    background-color: white;
}

.dropdown-menu{
    width: 100%;
}


#slides {
    display: none;
    border: 1px solid #666565;
    padding: 20px 40px 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slide-text {
    text-align: right;
}
.label img {
    width: 80% !important;
}
#slides .s-img {
    width: 96% !important;
}
.slidesjs-container, .slidesjs-control {
    /*height: 250px !important;*/
}

#slides .slidesjs-navigation {
    margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-image: url(../images/site-images/btn-prev-next.png);
    background-repeat: no-repeat;
    display:block;
    width:37px;
    height:38px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
}

a.slidesjs-next {
    margin-right:10px;
    background-position: -38px 0;
}


a.slidesjs-previous {
    background-position: 0 0;
}

a.slidesjs-play {
    width: 37px;
    height: 38px;
    background-position: -38px -39px;
}

a:hover.slidesjs-play {
    background-position: 0px -39px;
}

a.slidesjs-stop {
    width: 37px;
    height: 38px;
    background-position: 0px -39px;
}

a:hover.slidesjs-stop {
    background-position: -38px -39px;
}

.slidesjs-pagination {
    margin: 20px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/site-images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}

.navbar {
    overflow: hidden
}
#slides {
    display: none
}

.container {
    margin: 0 auto
}
.products {
    padding-bottom: 49px;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        width: auto
    }
}
.see-more {
    text-decoration: none;
    padding: 7px 10px;
    color: white !important;
    background-color: #1084DB;
    background: -webkit-linear-gradient(left top, #1083DA, #0FC3FF);
    background: -o-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: -moz-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: linear-gradient(to bottom right, #1083DA, #0FC3FF);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
}
.see-more:hover{
    text-decoration: none;
}
.support p{
    color: white !important;
}
.social{
    height: 50px;
    text-align: center;
    background-color: #1084DB;
    background: -webkit-linear-gradient(left top, #1083DA, #0FC3FF);
    background: -o-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: -moz-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: linear-gradient(to bottom right, #1083DA, #0FC3FF);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    position: absolute;
    width: 220px;
    left: -86px;
    top: 51%;
}
.social-c {
    margin: 0 auto;
    width: 152px;
}
.social a img{
    width: 38px;
    float: left;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    padding: 8px 2px;
}
.support {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    width: 190px;
    height: 50px;
    padding: 10px 20px;
    background-color: #1084DB;
    background: -webkit-linear-gradient(left top, #1083DA, #0FC3FF);
    background: -o-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: -moz-linear-gradient(bottom right, #1083DA, #0FC3FF);
    background: linear-gradient(to bottom right, #1083DA, #0FC3FF);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);
    position: absolute;
    right: -73px;
    top: 130%;
}
.s-info h5 {
    color:#1084DB;
    font-size: 20px;
}
.s-info p {
    font-size: 13px;
    max-height: 107px;
    overflow: hidden;
}
.s-info {
    margin-top: 44px;
    overflow: hidden;
    word-wrap: initial;
}
.todays {
    position: absolute;
    right: -10px;
    top: 15px;
    width: 25%;
}
.slidesjs-slide {
    position: absolute !important;
}
.open a,.navbar-brand, .navbar-nav>li>a {
    background-color: transparent !important;
}


.social_icon {
    background-color: #1084da;
    padding: 5px;
}

#playerContainer {
    padding-top: 15px;
}

#blog-all {
    position: relative;
    text-align: center;
}

#blog-all .blog-item[data='1'] {
    width: 30%;
}

#blog-all .blog-item {
    float: left;
    margin: 15px;
    position: relative;
}

#blog-all .blog-item[data='1'] .img-container {
    height: 300px;
}

#blog-all .blog-item .img-container {
    position: relative;
    text-align: center;
}

#blog-all .blog-item .img-container .img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

#blog-all .blog-item .text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,54,54,0.4);
    opacity: 1;
    transition: all 0.5s;
}

#blog-all .blog-item .text-container a {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    top: 45%;
    position: relative;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    width: 80%;
}

#blog-all .blog-item .text-container a:hover {
    color: #ffffff;
    background-color: #b7b7b7;
}

.information_content .row-image {
    position: relative;
}

.information_content .img-container {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    position: relative;
    overflow: hidden;
    max-height: 540px;
    height: 450px;
}

.information_content .img-container-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(54,54,54,0.4);
}

.information_content .text-container {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    height: auto;
    text-align: center;
}

.information_content .text-container a.href {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}

.information_content .text-container h1 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 15px;
}

.information_content .img-container .image {
    -webkit-transition: transform 0.35s ease 0s;
    -moz-transition: transform 0.35s ease 0s;
    -o-transition: transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.row-max {
    max-width: 1440px;
    margin: 0 auto;
}

.information_content .text {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-top: 50px;
}
