
@media only screen and (min-width: 1200px){

    .flexcarousel .flex-viewport li, .productcaroussel .flex-viewport li {
        padding-top: 12px;
    }
    .flexcarousel img{
        height: 108px;
    }
    .box-product .wrap_price span.price_val{
        margin-left: 5px;
    }
    .box-product .submit {
        width: 134px;
    }

        .first_post_item .imageborder, .simple_post_item .imageborder {
            width: 87.3%;
            margin-right: 0;
        }


}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .box-product .wrap_price{
        width:85px;
    }
    .box-product .submit input {
        width: 115px;
    }
    .box-product .wrap_price{
        font-size: 14px;
        width: 104px;
    }
    .box-product .price-new {
        float: none;
    }
    .footer_bottom_item h3{
        height: 50px;
    }
    .box-product .price{
        padding-left: 5px;
    }

    .product-list .list_grid_right .submit input{
        width: 149px;
    }

    .banner-holder .login_block {
        position: absolute;
        width: 203px;
        height: 136px;
        right: 10px;
        top: 10px;
    }

    .login_block table tr td.txtinput input {
        width: 80%;
        height: 18px;
        font-size: 12px;
        border-radius: 7px;
        line-height: 0;
    }
    table.form td.txtinput {
        padding-top: 0;
        padding-bottom: 5px;
    }
    .login_block{
        position: relative;
    }
    .login_block table {
        margin: 3px 0 1px 10px;

    }
    .login_block table.form tr:nth-child(4) td.txtinput {
        padding-bottom: 0px;
    }
    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 7px;
    }
    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block table.form tr td.forg_pass{
        padding-bottom: 0;
    }
    .banner1 .wrong-login{
        font-size: 10px;
        position: absolute;
        top: -25px;
        right: 0;
    }
    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 10px;
    }

    .login_block .loged_in_block img{
        max-width: 90px;
        min-width: 45px;
        max-height: 90px;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 13px 0 0;
        border-radius: 5px;

    }
    .login_block .loged_in_block span{
        display: inline-block;
        margin: 13px 0 0 0;
    }

    .loged_in_block .login_name{
        font-size: 13px;
    }
    .loged_in_block .login_mail{
        font-size: 12px;
    }
    .del_with_love{
        margin-top: 50%;
        font-size: 20px;
        color: #0167D4;
    }
    .del_with_love a{
        font-size: 20px;
    }
    .box-product .wrap_price span.price_val{
        margin-left: 5px;
    } 
    #header_right{
        width: 90%;

    }
    .box-product .submit {
        width: 115px;
    }
    .sf-menu a{
       padding: 1px 11px;
    }
    .box-heading , .title_module, .title_module span {
        font-size: 15px;
        line-height: 20px;
    }
    /*-- change abo --*/
    .box-product .price-new{
         float:none;
    }
    .sale_for_table{
        right:59px;
    }
    /*-- end change abo --*/
}

@media only screen and (max-width: 991px) and (min-width: 751px){
    .home_blog_block a img{
        width: 100%;
    }
    .box-product .submit input {
        width: 123px;
    }
    .box-product .wrap_price{
        width:110px;
    }
    .product-grid .box-product .wrap_price{
        width:90px;
    }
    .product-grid .box-product .submit input {
        width: 140px;
    }
    .menu_footer_item li a{
        font-size: 11px;
    }
    .footer_bottom_item h3{
        height: 50px;
    }
    .product-list .list_grid_right .submit input{
        width: 149px;
    }
    .banner-holder .login_block {
        position: absolute;
        width: 156px;
        height: 104px;
        right: 6px;
        top: 7px;

    }

    #bottom_right .links {
        bottom: 0px;
    }



    .login_block table tr td.txtinput input {
        width: 80%;
        height: 17px;
        font-size: 12px;
        border-radius: 6px;
        line-height: 0;
    }
    table.form td.txtinput {
        padding-top: 0;
        padding-bottom: 5px;
    }
    .login_block{
        position: relative;
    }
    .login_block table {
        margin: 3px 0 1px 0;

    }
    .login_block table.form tr:nth-child(4) td.txtinput {
        padding-bottom: 0px;
    }
    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 2px;
    }
    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block table.form tr td.forg_pass{
        padding-bottom: 0;
    }

    .login_block table.form tr td{
        font-size: 11px;
    }

    .login_block table tr td.desc {
        padding: 0 2px 1px 8px;
    }

    .login_block .smaller input {
        font-size: 9px;
        padding: 0 4px;
        height: auto;
        margin-right: 3px;
        line-height: 1.8;
        border-radius: 5px;
    }
    .login_block table.form tr td.forg_pass{

        padding: 1px;
    }
    .login_block table.form tr td.forg_pass a{
        font-size: 9px;
    }
    .banner1 .wrong-login{
        font-size: 9px;
        position: absolute;
        top: -25px;
        right: 0;
    }

    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 10px;
    }

    .login_block .loged_in_block img{
        max-width: 37%;
        min-width: 19%;
        max-height: 57%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 10px 0 0;
        border-radius: 5px;

    }
    .login_block .loged_in_block span{
        display: inline-block;
        margin:  0;
    }


    .loged_in_block .login_name{
        font-size: 11px;
    }
    .loged_in_block .login_mail{
        font-size: 10px;
    }
    .del_with_love{
        margin-top: 50%;
        font-size: 15px;
        color: #0167D4;
    }
    .del_with_love a{
        font-size: 15px;
    }

    .sf-menu a {
        padding: 1px 12px;
    }

    .box-product .submit {
        width: 123px;
    }
       .sf-menu a {
  padding: 2px 9px;
    }
    #header #welcome_log{
        margin-top: 0px;
    }
  .box-heading, .title_module, .title_module span {
        font-size: 15px;
        line-height: 20px;
    }
    /*-- change abo --*/
    .box-product .price-new{
        padding-left: 0;
        float:none;
    }

    .sale_for_table{
        right: 32px;
        line-height: 23px;
        top: 8px;
        font-size: 12px;
    }
    /*-- end change abo --*/

}
@media only screen and (max-width: 800px) and (min-width: 0px) {
    .box-heading,  .title_module, .title_module span {
        font-size: 15px;
        line-height: 20px;
    }
    #call_connect, .phone_icon_singl {
        display: none;
    }
}
@media only screen and (max-width: 760px) and (min-width: 751px){
    .sf-menu{
        width: 98%;
    }
    .sf-menu a {
        padding: 2px 6px;
    }
    #container{
        width: 735px;
    }
}
@media only screen and (max-width: 750px) and (min-width: 480px){
    #header #bottom_right #welcome_log {
        margin-top: 4px;
        margin-right: 0;
    }
    .box-product .submit{
        width: 50%;
    }
    .box-product .submit input {
        width: 102%;
        font-size: 12px;
    }
    .box-product .wrap_price{
        width:49%;
    }
    .cart-info-body .icon{
        width: 25px;
        height: 25px;
    }
    .cart-info-body .product-acition span{
        position: relative;
    }
    .cart-info-body .fa-fw{
        position: absolute;
        left: 4px;
        top: 5px;
    }

    .product-list .list_grid_right .submit input{
        font-size: 12px;
    }

    .banner-holder .login_block {
        position: absolute;
        width: 87%;
        height: 76%;
        right: 5%;
        top: 11%;

    }





    .login_block table tr td.txtinput input {
        min-width: 80%!important;
        height: 24px;
    }

    .login_block table{
        margin: 10px 0 8px 10px; 
    }
    .login_block table tr td{
        text-align: left;
        color: #1A4A5C;
    }
    .login_block table tr td.desc{
        padding: 0 2px 4px 7px;
    }

    .login_block table tr td.txtinput input{
        width: 80%;
        height: 24px;
    }

    .login_block .smaller{
        text-align: left;
        padding-left: 14px;
    }
    .login_block .smaller input{
        font-size: 12px;
        padding: 0 13px;
        height: 24px;
    }
    .login_block table.form tr td.forg_pass a{
        font-size: 11px;
    }
    .login_block table.form tr:nth-child(4) td.txtinput{
        padding-bottom: 3px;
    }


    .banner1 .wrong-login{
        font-size: 10px;
        position: absolute;
        top: -24px;
        right: 0;
    }




    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 10px;
    }

    .login_block .loged_in_block img{
        max-width: 39%;
        min-width: 20%;
        max-height: 59%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 13px 0 0;
        border-radius: 5px;

    }
    .login_block .loged_in_block span{
        display: inline-block;
        margin: 13px 0 0 0;
    }

    .loged_in_block .login_name{
        font-size: 16px;
    }

    .del_with_love{
        margin-top: 50%;
        font-size: 23px;
        color: #0167D4;
    }
    .del_with_love a{
        font-size: 21px;
    }

    .box-product .wrap_price span.price_val{
        margin-left: 5px;
    } 
    span.h1-top{
        font-size:20px; 
    }

    .col .box-product {
        width: 250px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0;
        float: none;
    }
    .col {
        width: 50%;
    }
    /*-- change abo --*/

    .sale_for_table{
         line-height: 23px;
        position: static;
        margin: 0px 0 0 -51px;
        font-size: 12px;
    }
    /*-- end change abo --*/

}


    @media only screen and (max-width: 600px) and (min-width: 480px){
    .box-product .submit input {
        width: 102%;
        font-size: 10px;
    } 
    #footer-text p span.powered{
        float: none;
        display: block;
    }
    .cart-info-body .icon{
        width: 25px;
        height: 25px;
    }
    .cart-info-body .product-acition span{
        position: relative;
    }
    .cart-info-body .fa-fw{
        position: absolute;
        left: 4px;
        top: 5px;
    }
    #review .author p{
        font-size: 12px;

    }
    #review .rating img{
        width: 80%;
    }











    .login_block table tr td.txtinput input {
        width: 80%;
        height: 18px;
        font-size: 12px;
        border-radius: 7px;
        line-height: 0;
    }
    table.form td.txtinput {
        padding-top: 0;
        padding-bottom: 5px;
    }

    .login_block table {
        margin: 8px 0 1px 5px;

    }
    .login_block table.form tr:nth-child(4) td.txtinput {
        padding-bottom: 0px;
    }
    .login_block .smaller {
        text-align: left;
        padding-left: 14px;
        margin-top: 10px;

    }
    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block table.form tr td.forg_pass{
        padding-bottom: 0;
    }




    .banner1 .wrong-login{
        font-size: 10px;
        position: absolute;
        top: -13%;
        right: 0;
    }



    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 10px;
    }

    .login_block .loged_in_block img{
        max-width: 39%;
        min-width: 20%;
        max-height: 59%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 5px 0 0;
        border-radius: 5px;

    }



    .login_block .loged_in_block span{
        display: inline-block;
        margin:  0;
    }


    .loged_in_block .login_name{
        font-size: 14px;
    }
    .loged_in_block .login_mail{
        font-size: 12px;
    }

    span.h1-top{
        font-size:20px; 
    }


}

@media only screen and (max-width: 540px) and (min-width: 480px){
    .col .box-product {
        width: 220px;
    }
    .min_post_item .imageborder {
        min-height: 150px;
    }
    .min_post_item .imageborder img {
        max-height: 150px;
    }

    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 7px;
    }

    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 5px;
    }

    .login_block .loged_in_block img{
        max-width: 39%;
        min-width: 20%;
        max-height: 59%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 5px 0 0;
        border-radius: 5px;

    }



    .login_block .loged_in_block span{
        display: inline-block;
        margin:  0;
    }


    .loged_in_block .login_name{
        font-size: 13px;
    }
    .loged_in_block .login_mail{
        font-size: 11px;
    }

    .del_with_love{
        margin-top: 50%;
        font-size: 20px;
        color: #0167D4;
    }
    .del_with_love{
        font-size: 20px;
    }
    span.h1-top{
        font-size:20px; 
    }
    .information_content .list tr td .order_status{
        font-size: 7px;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px){
    #header #bottom_right #welcome_log {
        margin-top: 4px;
        margin-right: 0;
    }
    .information_content .list tr td .order_status{
        font-size: 7px;
    }
    .information_content .list thead tr td{
        padding: 5px 1px;
        font-size: 10px;
    }
    .box-product .submit{
        width: 63%;
    }
    .box-product .submit input {
        width: 103%;
        font-size: 10px;
    }
    .box-product .wrap_price{
        width:35%;

    }
    .box-product .wrap_price > span{
        font-size: 12px;
        padding-left: 5px;
    }
    #footer-text p span.powered{
        float: none;
        display: block;
    }


    .product-filter .display {
        visibility: visible; 
        display: inline-block; 



    }
    .cart-info-body .icon{
        width: 25px;
        height: 25px;
    }
    .cart-info-body .product-acition span{
        position: relative;
    }
    .cart-info-body .fa-fw{
        position: absolute;
        left: 4px;
        top: 5px;
    }
    #cart .content .checkout a{
        font-size: 12px;
        padding: 5px;
    }
    #review .author p{
        font-size: 12px;

    }
    #review .rating img{
        width: 80%;
    }
    #review .rating{
        float: left;
        margin: 0 0 0 20px;
    }
    .product-list .list_grid_right .submit input{
        font-size: 11px;
    }
    .banner-holder .login_block {
        position: absolute;
        width: 94%;
        height: 74%;

        right: 4%;
        top: 16%;

    }

    .login_block table tr td.txtinput input {
        min-width: 90%!important;
    }

    .login_block table tr td.txtinput input {
        width: 80%;
        height: 17px;
        font-size: 12px;
        border-radius: 6px;
        line-height: 0;
    }
    table.form td.txtinput {
        padding-top: 0;
        padding-bottom: 5px;
    }
    .login_block{
        position: relative;
    }
    .login_block table {
        margin: 3px 0 1px 5px;

    }
    .login_block table.form tr:nth-child(4) td.txtinput {
        padding-bottom: 0px;
    }
    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 6%;
    }
    .login_block .smaller input {
        font-size: 11px;
        padding: 0 11px;
        height: auto;
        margin-right: 5px;
    }
    .login_block table.form tr td.forg_pass{
        padding-bottom: 0;
    }

    .login_block table.form tr td{
        font-size: 11px;
    }

    .login_block table tr td.desc {
        padding: 0 2px 1px 8px;
    }

    .login_block .smaller input {
        font-size: 9px;
        padding: 0 4px;
        height: auto;
        margin-right: 3px;
        line-height: 1.8;
        border-radius: 5px;
    }
    .login_block table.form tr td.forg_pass{

        padding: 1px;
    }
    .login_block table.form tr td.forg_pass a{
        font-size: 8px;
    }
    .banner1 .wrong-login{
        font-size: 9px;
        position: absolute;
        top: -19%;
        right: 0;
    }
    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 20px 0 0 5px;
    }

    .login_block .loged_in_block img{
        max-width: 30%;
        min-width: 15%;
        max-height: 50%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 5px 0 0;
        border-radius: 5px;

    }



    .login_block .loged_in_block span{
        display: inline-block;
        margin:  0;
    }


    .loged_in_block .login_name{
        font-size: 13px;
    }
    .loged_in_block .login_mail{
        font-size: 11px;
    }

    .del_with_love{
        margin-top: 50%;
        font-size: 17px;
        color: #0167D4;
    }
    .del_with_love a{

        font-size: 17px;
    }
    .del_yer{

        font-size: 11px;

    }
    #header_right #welcome a{
        font-size: 10px;
    }
    span.h1-top{
        font-size:20px; 
    }
	
	.phone_icon_singl {
		display: none;
	}
    .col {
        width: 100%;
    }
    .col .box-product {
        width: 250px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0;
        float: none;
    }
    /*-- change abo --*/

    .sale_for_table{
        line-height: 23px;
        position: static;
        margin: 0px 0 0 -51px;
        font-size: 9px;
    }
    /*-- end change abo --*/

}

@media only screen and (max-width: 400px) and (min-width: 321px){
    .login_block table tr td.txtinput input {
        min-width: 87%!important;
    }
    .login_block table tr td.txtinput input {
        height: 15px;
        font-size: 10px;
        border-radius: 5px;
        line-height: 0;
    }
    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 2%;
    }

    .banner1 .wrong-login{
        font-size: 7px;
        position: absolute;
        top: -19%;
        right: 0;
    }
    .box-product .submit input {
        width: 103%;
        font-size: 9px;
    }
    .del_with_love{
        margin-top: 50%;
        font-size: 14px;
        color: #0167D4;
    }
    .del_with_love a{
        font-size: 14px;
    }
    .box-product .wrap_price > span {
        font-size: 11px;
        padding-left: 3px;
    }
    .box-product .wrap_price span.price_val{
        font-size: 10px;
    } 
    #call_connect{
        display: none;
    }
    .phone_icon_singl{
        display: none;
    }
    span.h1-top{
        font-size:20px; 
    }
    .my-account .imageborder img{
        max-width: 100px;
        min-width: 100px;
        max-height: 100px;
    }
    h4.add_img{
        font-size: 10px; 
    }
    .my-account .imageborder {

        width: 100px;
        height: 100px;

    }
    .my-account .imageborder img#user_image_change {
        min-width: 13px;
        height: 13px;
        left: 85px;
    }
    .my-account .imageborder img#user_image_delete {
        min-width: 13px;
        height: 13px;
        left: 100px;
        top: 10px;
    }

    input.button_add_img{
        font-size: 12px;
        height: 23px;
        font-weight: 500;
        padding: 0 10px;
    }
    .right_add_img{
        margin-right: 10%;
    }

}

@media only screen and (max-width: 400px) and (min-width: 0px) {
    .login_block .smaller input {
        line-height: 1.5;
        border-radius: 5px;
        font-size: 8px;
        font-weight: 500;
    }
    .h1_sim {
        font-size: 25px;
    }
    .box-product .name a {
        color: #4d4d4d;
        font-size: 10px;
    }
}
@media only screen and (max-width: 320px) and (min-width: 0px){
    .login_block table.form tr td{
        font-size: 9px;
    }
    .box-product .submit input {
        width: 103%;
        font-size: 8px; 
    }
    .login_block .smaller {
        text-align: right;
        padding: 0;
        position: absolute;
        bottom: 0%;
    }
    .banner1 .wrong-login{
        font-size: 7px;
        position: absolute;
        top: -19%;
        right: 0;
    }

    #call_connect{
        display: none;
    }
    .phone_icon_singl{
        display: none;
    }
    span.h1-top{
        font-size:20px; 
    }

}


@media only screen and (max-width: 355px) and (min-width: 0px){
    .box-product .submit{
        width: 65%;
    }
    .box-product .submit input {
        width: 103%;
        font-size: 8px;
    }
    .box-product .wrap_price{
        width:33%;

    }
    .box-product .wrap_price > span{
        font-size: 10px;
        padding-left: 2px;
    }
    .checkout .checkout1, .checkout .checkout2, .checkout .checkout3, .checkout .checkout4{
        font-size: 12px;
    }
    #cart .content .checkout a{
        font-size: 10px;
        padding: 3px 4px;
        font-weight: normal;
    }

    .login_block .loged_in_block img{
        max-width: 25%;
        min-width: 12%;
        max-height: 45%;
        border: 0px solid #e6e6e8;
        float: left;
        /*    position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;*/
        margin: 0 5px 0 0;
        border-radius: 5px;

    }
    .loged_in_block .login_name{
        font-size: 11px;
        line-height: 1.2;
    }
    .loged_in_block .login_mail{
        font-size: 9px;
        line-height: 1.2;
    }
    .login_block .loged_in_block{
        text-align:left;
        overflow: hidden;
        height: 100%;
        padding: 10px 0 0 10px;
    }
    .login_block .loged_in_block span {
        display: block;
    }
    .login_block .loged_in_block img{
        float: none;
    }
    .del_with_love{
        margin-top: 50%;
        font-size: 12px;
        color: #0167D4;
    }
    .del_with_love a{
        font-size: 12px; 
    }
    .login_block table.form tr td {
        font-size: 9px;
    }
    .box-product .wrap_price span.price_val{
        font-size: 8px;
    } 
    span.h1-top{
        font-size:18px; 
    }

}


@media only screen and (max-width: 320px) and (min-width: 0px){

    .box-product .submit input {
        width: 103%;
        font-size: 8px; 
    }
    .h1_sim {
        font-size: 23px;
    }
    #header #cart {
        min-width: 250px;
    }
}
@media only screen and (max-width: 303px) and (min-width: 0px){

    .information_content .list tr td:first-child{
        display: none;
    }
}
@media only screen and (max-width: 300px) and (min-width: 0px){

    .box-product .submit input {
        width: 103%;
        font-size: 8px;
    }
    .box-product .wrap_price{
        width:33%;

    }
    .box-product .wrap_price > span{
        font-size: 8px;
        padding-left: 2px;
    }

}


@media only screen and (max-width: 750px) {
    #logo img {
        width: auto;
        margin-top: 2px;
    }

    .checkout select{
        width: 98%; 
    }
    .prod_name_size{
        overflow: hidden;
        height: 50px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .fb_iframe_widget {
        padding: 20px 10px 10px 0;
    }
}
@media only screen and (max-width: 450px) and (min-width: 0px){
    .pending{
        display: none;
    }
    .pending_for_min{
        display: block;
    }
    #currency ul li a, #language ul li a {
        font: 12px 'Source Sans Pro', Arial;
    }
    #currency ul li, #language ul li {
        height: 23px;
        line-height: 23px;
        width: 25px;
    }
    .box-product .name a {
        color: #4d4d4d;
        font-size: 11px;
    }
}
@media only screen and (max-width: 420px) and (min-width: 0px){
    .information_content .list thead tr td {
        padding: 5px 1px;
        font-size: 8px;
    }

}
@media only screen and (max-width: 400px) and (min-width: 0px){

    .box-product .name a {
        color: #4d4d4d;
        font-size: 10px;
    }
    .min_hide{
        display: none;
    }
}

@media only screen and (max-width: 380px) and (min-width: 0px){

    .fb_iframe_widget{
        display:block;
        padding:0 0 0 10px;
        float:none;
    }
    .product-info .price{
        display:block;
    }
}
@media only screen and (max-width: 350px) and (min-width: 0px){
    #language{
        position: inherit;
        margin: 10px 0;
    }
    .login_block table.form tr td.forg_pass a {
        font-size: 7px;
    }
    .box-product .name a {
        color: #4d4d4d;
        font-size: 9px;
    }
    .information_content .list tr td.comment_title a{
        font-size: 10px;
    }
    .edit_td{
        font-size: 9px;
    }
}

